<div class="page-header">
    <h1>My WishList</h1>      
</div>
<div class="card-body">
        <p-dataView #dv [value]="pokemons" layout="grid">
            <ng-template let-pokemon pTemplate="gridItem">
                <div class="p-col-12 p-md-4">
                    <div class="pokemon-grid-item card">
                        <div class="pokemon-grid-item-top">
                            <div>
                                <i class="pi pi-tag pokemon-category-icon"></i>
                                <span class="pokemon-category">{{pokemon.name.toUpperCase()}}  {{pokemon.base_experience}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </div>
                            <ng-container *ngFor="let type of pokemon.types">
                                <span class="pokemon-category" style="text-align : right;">&nbsp;{{type.type.name}}
                                <ng-container *ngIf="pokemon.types.length>1">/</ng-container></span>
                            </ng-container>
                        </div>
                        <div class="pokemon-grid-item-content" >
                            <div class="product-name">
                                <img alt="Card" [src]="pokemon.sprites.front_shiny" width="20" height="140">
                            </div>
                        </div>
                        <div class="pokemon-grid-item-bottom">
                            <ng-container *ngFor="let ability of pokemon.abilities">
                                <div class="pokemon-description">{{ability.ability.name}}</div>
                            </ng-container>
                            <p-button icon="pi pi-trash" (click)="removeWishListPokemon(pokemon)"></p-button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
</div>