<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <button class="navbar-toggler hidden-sm-up" (click)="collapseSidebar()" data-bs-toggle="collapse" data-bs-target="#sideBarContent" aria-controls="sideBarContent" aria-expanded="false" aria-label="Toggle Menu">Toggle Menu</button>
        <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    </div>
</nav>